@charset "utf-8";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
h1{
  font-size:1.2rem;
}
h2{
  font-size:1.2rem;
  text-align: center;
  margin: 0 0 30px 0;
}
ul{
  list-style:none;
}
a{
  text-decoration:none;
  color:#eee;
  cursor:pointer;
}
img{
  object-fit:cover;
}
p{
  margin: 20px 0 0;
}
small{
  background:#333;
  color:#fff;
  display: block;
  text-align: center;
  padding:20px;
}
header{
  background:#068fff;
  padding: 8px 40px 8px 64px;;
}
.header{
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:center;
}
.logo{
  font-size:32px;
  font-weight:bold;
}
.menus{
  padding:0 24px;
  display:inline-flex;
}
.menus a{
  font-size:16px;
  padding:0 8px;
}
.search{
  width:240px;
  height:30px;
  display:flex;
  border-radius:4px;
  background:#ccc;
}
.search input{
  width:210px;
  height:100px;
  border-radius:4px 0 0 4px;
}
.search-icon{
  width:30px;
  height:100%;
  display:grid;
  place-items:center;
  cursor:pointer;
}
body {
  background: #f3f3f3;
  padding: 20px;
}
section{
  padding:80px 0px;
}
section:nth-child(2n){
  background:#f3f3f3;
}
#footer{
  position: relative;
  z-index: 2;
}
.lead{
  margin:20px 0 0 0;
}
.btn-block{
  width:200px;
  padding: 30px;
}
/*---------------------------------
フォーム
----------------------------------*/
<style>
*{ margin:0; padding:0; font-size:16px;}
body{ padding:5%;}
h1{ text-align:center; font-size:24px; font-weight:normal; margin:0 0 20px 0;}
section{ width:80%; margin:0 auto;}
table{ width:100%; margin:20px auto 20px auto; border-collapse:collapse;}
th,td{ padding:10px 15px; border:1px solid #999; font-weight:normal; text-align:left;}
th{ background:#eee; position:relative; width:30%;}
td{ background:#fff;}
input{ padding:5px;}
textarea{ padding:5px; width:90%;}
th span{ font-size:12px; background:#f40; color:#fff; padding:0 3px; border-radius:3px; position:absolute; right:15px;}
.submit-button{ text-align:center;}
button{ background:#09e; border:0; border-radius:5px; padding:15px 50px; color:#fff; font-size:18px; transition:.3s;}
button:hover{ cursor:pointer; background:#18c;}
.err{ background:#c00; color:#fff; padding:5px 15px; display:none;}
#end{ padding:5%; text-align:center; display:none;}
#end h1{ color:#09e;}
#end div{ border:1px solid #ccc; background:#fff; padding:5% 0;}

/*---------------------------------
.headers ヘッダー
----------------------------------*/
.hamburger{
  width:32px;
  height:32px;
  padding:8px 32px;
  display:none;
}
.hamburger .open{
  display:block;
}
.hamburger .close{
  display:none;
}
.hamburger .show .open {
  display: none;
}

.hamburger .show .close {
  display: block;
}
/*----------------------------------
.Ls-test04__section01 Tokyo Metro
----------------------------------*/
.Ls-test04-section01 {
  max-width: 1300px;
  width: 100%;
  background-color: #fff;
  display: block;
  margin-bottom: 60px;
  margin: 0 auto;
}
.Ls-test04-section01__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  padding-bottom:60px;
  /* margin: 30px 20px 30px 20px; */
}
.Ls-test04-section01__left_box {
  max-width: 700px;
  width: 80%;
  height: 100%;
  margin: 30px 30px 30px 30px;
}
.Ls-test04-section01 h2{
  font-size:35px;
  margin:50px 30px 40px 30px;
}
.Ls-test04-section01__inner p {
  margin-top: 40px 40px 40px 40px;
}
.Ls-test04-section01__left_box p {
  font-size: 20px
}
.Ls-test04-section01__right_box img {
  padding-top: 60px;
}
/*----------------------------------
.Ls-test04-sec02 パンくず
----------------------------------*/
.Ls-test04-sec02{
	text-align: left;
	display: block;
	max-width: 1300px;
	width:100%;
	margin: 0 auto;
	padding-top:30px;
	padding-bottom:30px;
}
.sec02_text{
	font-size: 13px;
	padding-top: 20px;
}
/*----------------------------------
.Ls-test04-sec02-B
----------------------------------*/
.Ls-test04-sec02-B{
  width:100%;
  max-width:1300px;
  margin:0 auto;
}
.Ls-test04-sec02-B__innner{
  margin:40px 30px 40px 30px;
}
.Ls-test04-sec02-B h1{
  font-size:50px;
  text-align:center;
  margin:40px 30px 40px 30px;
}
.Ls-test04-sec02-B p{
  text-align: center;
  line-height: 5px;
  margin-bottom:60px;
}
/*----------------------------------
.Ls-test04-sec03
----------------------------------*/
.Ls-test04-sec03 {
  max-width: 1300px;
  width: 100%;
  background-color: #fff;
  display: block;
  margin-bottom: 60px;
  margin:0 auto;
}
.Ls-test04-sec03__inner{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0 auto;
}
.Ls-test04-sec03__inner h2{
  font-size:35px;
  color:red;
  margin:40px 30px 40px 30px;
}
.Ls-test04-sec03__inner p{
	padding:60px;
	padding-top:60px;
}
/*----------------------------------
Ls-test04-sec04 カード
----------------------------------*/
.Ls-test04-sec04 {
  width: 100%;
  max-width:1300px;
  margin:0 auto;
  background-color: #fff;
}
.Ls-test04-sec04__inner{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  padding:30px 30px;
	margin:40px 20px 40px 20px;
}
.Ls-test04-sec04__card02 {
  max-width: 300px;
  width: 100%;
  background-color: #fff;
  text-align: center;
  /* max-height: 500px; */
}
.Ls-test04-sec04__card02_hibox p {
  font-weight: bold;
  font-size: 25px;
}
.Ls-test04-sec04__card02-lowbox {
  /* height: 250px; */
  margin: 0 auto;
}
.Ls-test04-sec04__card02-lowbox p {
  font-size: 15px;
  text-align: center;
  line-height: 30px;
  margin-top: 0px;
}
.Ls-test04-sec04__card03 {
  max-width: 300px;
  width: 100%;
  background-color: #fff;
  text-align: center;
  /* max-height: 500px; */
}
.Ls-test04-sec04__card03_hibox {
  height: 200px;
}
.Ls-test04-sec04__card03_hibox p{
  font-weight: bold;
  font-size: 25px;
}
.Ls-test04-sec04__card03-lowbox p {
  font-size: 15px;
  text-align: center;
  line-height: 30px;
  margin-top: 0px;
}
.Ls-test04-sec04__card04 {
  max-width: 300px;
  width: 100%;
  background-color: #fff;
  text-align: center;
  /* max-height: 500px; */
}
.Ls-test04-sec04__card04_hibox p {
  font-weight: bold;
  font-size: 25px;
}
/*-----------------------------------
Ls-test04-sec05-できる事
----------------------------------*/
.Ls-test04-sec05{
  width: 100%;
  max-width: 1300px;
  margin:0 auto;
}
.Ls-test04-sec05__inner{
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  padding: 30px 30px 60px 30px;
  display: block;
  background-color: #eeeeee;
}
.Ls-test04-sec05__title{
  font-size: 45px;
  font-weight: 100;
  margin:30px 30px 30px 30px;
}
.Ls-test04-sec05 h2{
  font-size:30px;
  font-weight:bold;
}
.Ls-test04-sec05__table_left_up {
  max-width: 530px;
  width: 100%;
  height: 100%;
  max-height: 530px;
  margin: 0px 5px 0px 5px;
}
.Ls-test04-sec05__table_left_up2{
	max-width: 650px;
	width: 100%;
	height: 100%;
	max-height: 530px;
	margin: 0px 5px 0px 5px;
}
.Ls-test04-sec05__right-image{
	text-align: center;
	align-items: center;
	padding-top: 60px;
}
.Ls-test04-sec05_low{
  text-align: center;
  display: inline-block;
  padding: 0px 30px 0px 30px;
}
/*--------------------------------
Ls-test04-sec06
---------------------------------*/
.Ls-test04-section06 {
  width: 100%;
  max-width: 1300px;
  margin:0 auto;
}
.Ls-test04-section06__inner{
  padding: 60px 30px 30px 40px;
  display:flex;
  justify-content:space-around;
}
.Ls-test04-section06__left_box{
  max-width: 600px;
  width: 90%;
  margin: 20px 20px 20px 20px;
}
.Ls-test04-section06__right_box{
  width:90%;
  max-width:200px;
}
.Ls-test04-section06__right_box img{
  padding-right:40px;
}
.Ls-test04-section06 h2 {
	text-align:center;
	color:red;
  font-family: メイリオ,sans-serif,Meiryo;
  font-weight: bold;
  font-size: 35px;
	padding-bottom:40px;
}
/*--------------------------------------
section
---------------------------------------*/
.front_news {
  width:100%;
  max-width:1300px;
  margin:0 auto;
}
.front_news h2{
  font-weight:bold;
  font-size:35px;
  margin-bottom:25px;
  color:#ef0846;
  text-align:left;
}
/*--------------------------------------
.Ls-test04-sec11 unazuki タブtab
---------------------------------------*/
.Ls-test04-sec11{
	max-width:1300px;
	text-align:center;
  margin:0 auto;
}
.menu {
  display: flex;
  /*隙間*/
  gap: 3px;
  margin: 0;
  padding: 0;
}
.item {
  flex: 0 0 140px;
  list-style: none;
  text-align: center;
  background: #d9d9d9;
  padding: 7px 5px 3px;
  border-radius: 5px 5px 0 0;
}
.item.active {
  background: pink;
}
.item:hover {
  cursor: pointer;
}
.container {
  border: 2px solid pink;
  padding: 20px;
}
.content {
  display: none;
}
.content.show {
  display: block;
}
/*-----------------------------------
.Ls-test04-sec12
-------------------------------------*/
.Ls-test04-sec12{
  width:100%;
  max-width:1300px;
  margin:0 auto;
}
.Ls-test04-sec12__inner{
  padding: 60px 30px 60px 30px;
  background-color: #fff;
  align-items: stretch;
  flex-flow: row wrap;
  color:black;
}
.Ls-test04-sec12 h2{
	text-align:center;
	color:red;
	/* padding-top:40px;
	padding-bottom:40px; */
  font-size: 35px;
  font-style: bold;
  margin: 40px 20px 40px 20px;
}
.Ls-test04-sec12__inner p{
	font-size:25px;

}
/*------------------------*/
.Ls_2column_hidariimg{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}
.dev-container{
  list-style:none;
}
/*-----------------------
new footer
--------------------------*/
/* * {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  padding: 5%;
}

h1 {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 20px 0;
} */

section {
  width: 80%;
  margin: 0 auto;
}

table {
  width: 100%;
  margin: 20px auto 20px auto;
  border-collapse: collapse;
}

th,
td {
  padding: 10px 15px;
  border: 1px solid #999;
  font-weight: normal;
  text-align: left;
}

th {
  background: #eee;
  position: relative;
  width: 30%;
}

td {
  background: #fff;
}

input {
  padding: 5px;
}

textarea {
  padding: 5px;
  width: 90%;
}

th span {
  font-size: 12px;
  background: #f40;
  color: #fff;
  padding: 0 3px;
  border-radius: 3px;
  position: absolute;
  right: 15px;
}

.submit-button {
  text-align: center;
}

button {
  background: #09e;
  border: 0;
  border-radius: 5px;
  padding: 15px 50px;
  color: #fff;
  font-size: 18px;
  transition: .3s;
}

button:hover {
  cursor: pointer;
  background: #18c;
}

.err {
  background: #c00;
  color: #fff;
  padding: 5px 15px;
  display: none;
}

#end {
  padding: 5%;
  text-align: center;
  display: none;
}

#end h1 {
  color: #09e;
}

#end div {
  border: 1px solid #ccc;
  background: #fff;
  padding: 5% 0;
}
/*----------------------------------
  Footer
------------------------------------*/
.footer {
  width:100%;
  max-width:1300px;
  position: relative;
  background: #505050;
  color: #ffffff;
  margin:0 auto;
}
.footer * {
  color: inherit;
}
/*内枠*/
.footer-inner {
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  text-align:center;
  margin:0 auto;
}
/*運営情報*/
.footer-prof {
  padding-top: 30px;
  padding-bottom: 40px;
  width:500px;
}
.footer-prof img {
  width: 250px;
}
.footer-prof .add {
  margin-top: 30px;
}
.footer-prof .sns {
  margin-top: 30px;
  /* display: flex; */
}
.footer-prof .sns li {
  margin-right: 15px;
}
.footer-prof-l{
  width:500px;
}
.footer-prof-l ul{
  list-style: none;
}
/*メインメニュー*/
.footer-link_01 {
  margin-left: -20px;
  margin-right: -20px;
  border-top: 1px solid #707070;
}
.footer-link_01 li {
  border-bottom: 1px solid #707070;
}
.footer-link_01 a {
  position: relative;
  display: block;
  padding: 15px 20px;
  text-decoration: none;
}
.footer-link_01 a:hover {
  background: #707070;
  color: #ffffff;
}
.footer-link_01 a::after {
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  content: "";
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
}
/*サブメニュー*/
.footer-link_02 {
	display: flex;
  flex-wrap: wrap;
  margin: 15px 0;
}
.footer-link_02 li {
	width: 50%;
  margin: 10px 0;
}
.footer-link_02 a {
	font-size: calc((14 / 16)*1em);
  text-decoration: none;
}
.footer-link_02 a:hover {
	color: #ffffff;
  text-decoration: underline;
}
/*コピーライト*/
.footer-copyright {
	padding: 10px 20px;
  background: #000;
  text-align: center;
  font-size: calc((12 / 16)*1em);
}
/*ページトップ*/
.footer-pagetop {
	position: absolute;
  right: 0;
  top: -61px;
}
.footer-pagetop a {
	display: block;
  width: 60px;
  height: 0;
  padding-top: 60px;
  overflow: hidden;
  background: #505050;
}
.footer-pagetop a:hover {
	background: #707070;
  color: #ffffff;
}
.footer-pagetop a::before {
	position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: translate(-50%, -25%) rotate(-45deg);
}
/*----------------------------------------
ページトップのためのCSS
-----------------------------------------*/
#page-top a{
	background:#942D2F;
	color:#fff;
	display: block;
	text-decoration: none;
	padding:20px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-size: 0.8rem;
	transition: all 0.3s;
  width:100px;
  height:100px;
  position:absolute;
  right:0;
  bottom:0;
}
#page-top a:hover{
	background: #777;
}
/*----.Ls-footer---------------------*/
.Ls-footer{
  width: 100%;
	max-width: 1300px;
	margin: 0 auto;
	text-align: center;
	display: block;
	background-color: #f6f6f6;
}
.Ls-footer__inner {
  height: 100%;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  background-color: #f6f6f6;
}
.Ls-footer__left_column {
  max-width: 550px;
  width: 100%;
  background-color: #f6f6f6;
  border-right: solid 1px #333;
}
.Ls-footer .Ls-footer__inner .Ls-footer__left_column img {
  max-width: 300px;
  padding-bottom: 5px;
}
.Ls-footer p {
  padding-bottom: 20px;
}
.Ls-footer__right_column {
  max-width: 550px;
  width: 100%;
  background-color: #f6f6f6;
  padding-top: 30px;
}
.Ls-footer___right_column_info {
  font-size: 20px;
}
.Ls-footer__btn {
  border: none;
  display: inline-block;
  font-size: 15px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 250px;
  background-color: #9ba500;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  color: #fff;
  cursor: pointer;
}
.Ls-footer__footer_text {
  background-color: #f6f6f6;
  font-size: 12px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
}
.Ls-footer__gnavi__wrap {
  background-color: #005cad;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100vw;
  max-width: 1300px;
  margin: 0 auto;
	border-left: 1px solid #333;
}
.Ls-footer__gnavi__list {
  color: #fff;
}
.Ls-footer__gnavi__lists {
  max-width: 1300px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #005cad;
  color: #fff;
  list-style: none;
  text-decoration: none;
  padding-right: 150px;
  padding-left: 150px;
}

/* まず横はみ出し防止（応急処置） */
html,
body {
  overflow-x: hidden;
}

/* 本文の最大幅（縦ライン） */
:root {
  --container: 1120px;
  --px: 24px;
}

.page {
  max-width: var(--container);
  margin: 0 auto;
  padding: 0 var(--px);
}
/*---------------------------------------
@media screen スマホ
----------------------------------------*/
@media (min-width:1024px) {
  header{
    padding:8px 40px 8px 8px;
  }
  .logo{
    display:none;
  }
  .menu{
    flex:4;
  }
}
@media (max-width:768px){
  .hamburger{
    display: block;
  }
  .menus{
    position: fixed;
    top: -400px;
    right: 0;
    width: 100%;
    background: #068fff;
    display: inline-block;
  }
  .menus li {
    display: grid;
    place-items: center;
    margin: 24px 0;
  }
}
