@charset "utf-8";

/* .Ls-top__header>nav>ul>li {
  display:flex;
  flex-wrap:wrap;
} */

.page-header{
	display:flex;
	max-width:100%;
	width:1300px;
	justify-content:space-between;
}

.main-nav{
  display:flex;
  font-size:1.25rem;
  text-transform:uppercase;
  margin-top:34px;
  list-style:none;
}

.main-nav li{
  margin-left:36px;

}

.main-nav a{
  color:#432;
}

.main-nav a:hover {
  color:#0bd;
}

.wrapper{
  max-width:100vw;
	width:100vw;
  margin:0 auto;
  padding:0 4%;
	background-color:lightgray;
}

.openbtn4{
  position: relative;/*ボタン内側の基点となるためrelativeを指定*/
  background:#D54884;
  cursor: pointer;
    width: 50px;
    height:50px;
  border-radius: 5px;
}

/*ボタン内側*/
.openbtn4 span{
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 2px;
    border-radius: 5px;
  background: #fff;
    width: 45%;
  }


.openbtn4 span:nth-of-type(1) {
  top:13px;
}

.openbtn4 span:nth-of-type(2) {
  top:19px;
}

.openbtn4 span:nth-of-type(3) {
  top:25px;
}

.openbtn4 span:nth-of-type(3)::after {
  content:"Menu";/*3つ目の要素のafterにMenu表示を指定*/
  position: absolute;
  top:5px;
  left:-2px;
  color: #fff;
  font-size: 0.6rem;
  text-transform: uppercase;
}

/*activeクラスが付与されると線が回転して×になり、Menu⇒Closeに変更*/

.openbtn4.active span:nth-of-type(1) {
    top: 14px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn4.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn4.active span:nth-of-type(3){
    top: 26px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

.openbtn4.active span:nth-of-type(3)::after {
  content:"Close";/*3つ目の要素のafterにClose表示を指定*/
    transform: translateY(0) rotate(-45deg);
  top:5px;
  left:4px;
}
/*========= レイアウトのためのCSS ===============*/

body{
  background:#f3f3f3;
    padding:20px;
}

a{
  color: #333;
  text-decoration: none;
}

.lead{
  margin:20px 0 0 0;
}

.btn-block{
  width:200px;
  padding: 30px;
}
/*----------------------
.Ls-test04-sec01
----------------------*/

.Ls-test04-sec01 {
	width: 100vw;
	background-color:#ededed;
	padding-top:80px;
	padding-bottom:80px;
	background-color: #f6f6f6;
	display: block;
	margin-top:80px;
	margin-bottom:80px;
}

.Ls-test04-sec01 h1 {
  font-family: sun-serif;
  font-weight: bold;
	font-size:160px;
  text-align: center;
}

.Ls-test04-sec01 p {
	text-align: center;
	line-height: 15px;
}

.Ls-test04-sec01  .Ls-test04-sec01__inner img{
	width: 100%;
	max-width: 1300px;
	height: auto;
	max-height: 500px;
	margin: 0 auto;
}



/*----------------------------------
.Ls-test04__section01 Tokyo Metro
----------------------------------*/

.Ls-test04-section01 {
  max-width: 1200px;
  background-color: #fff;
  display: block;
  margin-bottom: 60px;
  margin: 0 auto;
}

.Ls-test04-section01__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.Ls-test04-section01__inner p {
  padding: 60px;
  padding-top: 60px;
}

.Ls-test04-section01__left_box {
  max-width: 730px;
  width: 100%;
  height: 100%;
  margin: 0px 5px 0px 5px;
}

.Ls-test04-section01__left_box p {
  line-height: 30px;
  font-size: 30px
}

.Ls-test04-section01__right_box img {
  padding-top: 60px;
}

/*----------------------------------
.Ls-test04-sec02 パンくず
----------------------------------*/

.Ls-test04-sec02{
	text-align: left;
	display: block;
	max-width: 1200px;
	width:100%;
	margin: 0 auto;
	padding-top:30px;
	padding-bottom:30px;
}

.sec02_text{
	font-size: 13px;
	padding-top: 20px;
}

/*----------------------------------
.Ls-test04-sec02-B
----------------------------------*/
.Ls-test04-sec02-B h1{
  font-size:50px;
  text-align:center;
  margin:60px 30px 40px 30px;
}

.Ls-test04-sec02-B p{
  text-align: center;
  line-height: 5px;
}

/*----------------------------------
.Ls-test04-sec03
----------------------------------*/

.Ls-test04-sec03 {
  max-width: 1200px;
  width: 100%;
  background-color: #fff;
  display: block;
  margin-bottom: 60px;
  margin:0 auto;
}
.Ls-test04-sec03__inner{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 0 auto;
}

.Ls-test04-sec03__inner p{
	padding:60px;
	padding-top:60px;
}

/*----------------------------------
Ls-test04-sec04 カード
----------------------------------*/

.Ls-test04-sec04 {
  width: 100%;
  max-width:100vw;
  background-color: #fff;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

.Ls-test04-sec04__inner{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
	/* max-width:1300px;
	align-items:center;
	text-align: center;
  margin:0 auto;
	padding:60px 30px 60px 30px; */
}

.Ls-test04-sec04__card02 {
  max-width: 300px;
  width: 100%;
  background-color: #fff;
  text-align: center;
  /* max-height: 500px; */
}

.Ls-test04-sec04__card02_hibox p {
  font-weight: bold;
  font-size: 25px;
}

.Ls-test04-sec04__card02-lowbox {
    /* height: 250px; */
  margin: 0 auto;
}

.Ls-test04-sec04__card02-lowbox p {
  font-size: 15px;
  text-align: center;
  line-height: 30px;
  margin-top: 0px;
}

.Ls-test04-sec04__card03 {
  max-width: 300px;
  width: 100%;
  background-color: #fff;
  text-align: center;
  /* max-height: 500px; */
}

.Ls-test04-sec04__card03_hibox {
  height: 200px;
}

.Ls-test04-sec04__card03_hibox p{
  font-weight: bold;
  font-size: 25px;
}

.Ls-test04-sec04__card03-lowbox p {
  font-size: 15px;
  text-align: center;
  line-height: 30px;
  margin-top: 0px;
}

.Ls-test04-sec04__card04 {
  max-width: 300px;
  width: 100%;
  background-color: #fff;
  text-align: center;
  /* max-height: 500px; */
}

.Ls-test04-sec04__card04_hibox p {
  font-weight: bold;
  font-size: 25px;
}

/*-----------------------------------
Ls-test04-sec05-できる事
----------------------------------*/

.Ls-test04-sec05{
  width: 100%;
  max-width: 1200px;
  padding-top:30px;
	text-align:center;
  margin:0 auto;
  display:block;
  padding-top:0px;
  padding-bottom:60px;
  background-color:#eeeeee;
}

.Ls-test04-sec05__inner{
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  padding: 0px 30px 0px 30px;
}

.Ls-test04-sec05__title{
  font-size: 45px;
  font-weight: 100;
  margin:30px 30px 30px 30px;
}

.Ls-test04-sec05 h2{
  font-size:30px;
  font-weight:bold;
}

.Ls-test04-sec05__table_left_up {
  max-width: 530px;
  width: 100%;
  height: 100%;
  max-height: 530px;
  margin: 0px 5px 0px 5px;
}

.Ls-test04-sec05__table_left_up2{
	max-width: 650px;
	width: 100%;
	height: 100%;
	max-height: 530px;
	margin: 0px 5px 0px 5px;
}

.Ls-test04-sec05__right-image{
	text-align: center;
	align-items: center;
	padding-top: 60px;
}

.Ls-test04-sec05_low{
  text-align: center;
  display: inline-block;
  padding: 0px 30px 0px 30px;
}

/*--------------------------------
Ls-test04-sec06
---------------------------------*/

.Ls-test04-sec06 {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
	padding:60px 30px;
}

.Ls-test04-sec06__inner{
  padding-top:60px;
  padding-bottom:30px;
}

.Ls-test04-sec06 h2 {
	text-align:center;
	color:red;
  /* margin-left: 25px; */
  font-family: メイリオ,sans-serif,Meiryo;
  font-weight: bold;
  font-size: 35px;
	padding-bottom:60px;
}

/*--------------------------------------
tab
---------------------------------------*/
.Ls-test04-sec11{
	max-width:1300px;
	text-align:center;
}

.tab{
	display:flex;
	flex-wrap:wrap;
}
.tab li a {
	display:block;
	background:#ddd;
	margin:0 2px;
	padding:10px 20px;
}
.tab li.active a{
	background:#fff;
}
.area{
	display:none;
	opacity:0;
	background:#fff;
	padding:50px 20px;
}
.area.is-active{
	display:block;
	animation-name:displayAnime;
	animation-duration:1s;
	animation-fill-mode:forward;
}

@keyframes displayAnime{
	from{
		opacity:0;
	}
	to{
		opacity:1;
	}
}


/*-----------------------------------
 .Ls-test04-sec12
 -------------------------------------*/

 .Ls-test04-sec12{
	padding:80px 30px 80px 30px;
	background-color:lightgray;
 }

 .Ls-test04-sec12 h2{
	text-align:center;
	color:red;
	padding-top:50px;
	padding-bottom:50px;
 }

 .Ls-test04-sec12__inner{
	padding-right:15px;
	padding-left:15px;
	align-items: stretch;
	flex-flow: row wrap;
	color:black;
	background-color: #fff;
	padding-bottom:20px;
	padding-top:20px;
 }

 .Ls-test04-sec12__inner h2{
	font-size:60px;
	font-style:bold;
	text-align:center;
	margin-bottom:20px;
 }

 .Ls-test04-sec12__inner p{
	font-size:50px;
	font-style:bold;
	text-align:center;
	margin-bottom:20px;
 }

/*------------------------*/

.Ls_2column_hidariimg{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

.dev-container{
  list-style:none;
}

/*new footer*/

/*----------------------------------
  Footer
------------------------------------*/

.footer {
  position: relative;
  background: #505050;
  color: #ffffff;
}

.footer * {
  color: inherit;
}

/*内枠*/
.footer-inner {
  max-width: 1040px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

/*運営情報*/
.footer-prof {
  padding-top: 30px;
  padding-bottom: 40px;
}

.footer-prof .logo {
  width: 250px;
}

.footer-prof .add {
  margin-top: 30px;
}

.footer-prof .sns {
  margin-top: 30px;
  /* display: flex; */
}

.footer-prof .sns li {
  margin-right: 15px;
}

/*メインメニュー*/
.footer-link_01 {
  margin-left: -20px;
  margin-right: -20px;
  border-top: 1px solid #707070;
}

.footer-link_01 li {
  border-bottom: 1px solid #707070;
}

.footer-link_01 a {
  position: relative;
  display: block;
  padding: 15px 20px;
  text-decoration: none;
}

.footer-link_01 a:hover {
  background: #707070;
  color: #ffffff;
}

.footer-link_01 a::after {
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  content: "";
  display: block;
  width: 0.5em;
  height: 0.5em;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
}

/*サブメニュー*/
.footer-link_02 {
	display: flex;
  flex-wrap: wrap;
  margin: 15px 0;
}

.footer-link_02 li {
	width: 50%;
  margin: 10px 0;
}

.footer-link_02 a {
	font-size: calc((14 / 16)*1em);
  text-decoration: none;
}

.footer-link_02 a:hover {
	color: #ffffff;
  text-decoration: underline;
}

/*コピーライト*/
.footer-copyright {
	padding: 10px 20px;
  background: #000;
  text-align: center;
  font-size: calc((12 / 16)*1em);
}

/*ページトップ*/
.footer-pagetop {
	position: absolute;
  right: 0;
  top: -61px;
}

.footer-pagetop a {
	display: block;
  width: 60px;
  height: 0;
  padding-top: 60px;
  overflow: hidden;
  background: #505050;
}

.footer-pagetop a:hover {
	background: #707070;
  color: #ffffff;
}

.footer-pagetop a::before {
	position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: translate(-50%, -25%) rotate(-45deg);
}

/*----------------------------------------
ページトップのためのCSS
-----------------------------------------*/

#page-top a{
	background:#942D2F;
	color:#fff;
	text-align: center;
	display: block;
	text-decoration: none;
	padding:20px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-size: 0.8rem;
	transition: all 0.3s;
}

#page-top a:hover{
	background: #777;
}




/*----.Ls-footer---------------------*/

.Ls-footer{
	background-color: #f6f6f6;
	width: 1300vw;
	max-width: 100vw;
	margin: 0 auto;
	display: block;
	text-align: center;
}

.Ls-footer__inner {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  background-color: #f6f6f6;
}
.Ls-footer__left_column {
  max-width: 550px;
  width: 100%;
  background-color: #f6f6f6;
  border-right: solid 1px #333;
}
.Ls-footer__inner {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  background-color: #f6f6f6;
}
.Ls-footer .Ls-footer__inner .Ls-footer__left_column img {
  max-width: 300px;
  padding-bottom: 5px;
}

.Ls-footer p {
  padding-bottom: 20px;
}

.Ls-footer__right_column {
  max-width: 550px;
  width: 100%;
  background-color: #f6f6f6;
  padding-top: 30px;
}

.Ls-footer___right_column_info {
  font-size: 20px;
}

.Ls-footer__btn {
  border: none;
  display: inline-block;
  font-size: 15px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 250px;
  background-color: #9ba500;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px 20px 10px 20px;
  color: #fff;
  cursor: pointer;
}

.Ls-footer p {
  padding-bottom: 20px;
}

.Ls-footer__footer_text {
  background-color: #f6f6f6;
  font-size: 12px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 15px;
}


.Ls-footer__gnavi__wrap {
  background-color: #005cad;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100vw;
  max-width: 1300vw;
  margin: 0 auto;
	border-left: 1px solid #333;
}

.Ls-footer__gnavi__list {
  color: #fff;
}

.Ls-footer__gnavi__lists {
  max-width: 100vw;
  width: 1300vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #005cad;
  color: #fff;
  list-style: none;
  text-decoration: none;
  padding-right: 150px;
  padding-left: 150px;
}


/*========= ページトップのためのCSS ===============*/

#page-top a{
  background:#942D2F;
  color:#fff;
  text-align: center;
  display: block;
  text-decoration: none;
  padding:20px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.8rem;
  transition: all 0.3s;
}

#page-top a:hover{
  background: #777;
}

/*========= レイアウトのためのCSS ===============*/

h1{
  font-size:1.2rem;
}

h2{
  font-size:1.2rem;
  text-align: center;
  margin: 0 0 30px 0;
}

p{
  margin-top:20px;
}

small{
  background:#333;
  color:#fff;
  display: block;
  text-align: center;
  padding:20px;
}

#header{
  background:#333;
  color:#fff;
  text-align: center;
  padding: 20px;
}

section{
  padding:100px 30px;
}

section:nth-child(2n){
  background:#f3f3f3;
}

#footer{
  position: relative;
  z-index: 2;
}

/*---------------------------------------
 @media screen
 ----------------------------------------*/

@media screen and (min-width: 768px) {

}
